<div class="d-flex flex-column align-content-center player">
  <div class="player__delete">
    <button class="card-button player__delete-button player__delete-button--bg" (click)="deletePlayer()"></button>
  </div>
  <img [src]="player.avatar" alt="Avatar" class="player__avatar">
  <form class="player__form"
        method="post" target="_parent"
        [formGroup]="form"
        (ngSubmit)="setAvatar()"
  >
    <input class="player__input" type="file" name="image" id="image"
           (change)="onFileSelected($event)"
           [(ngModel)]="selectedFile">
    <button class="player__submit" type="submit">Upload</button>
  </form>
  <h2 class="player__name">{{player.firstname}} {{player.lastname}}</h2>
  <div class="player__description">
    <ul class="player__info">
      <li class="player__data">
        <p class="player__sex">Sex: {{player.sex}}</p>
      </li>
      <li class="player__data">
        <p class="player__birthday">Birthday: {{player.birthday | date}}</p>
      </li>
      <li class="player__data">
        <p class="player__team">Team: {{player.teamName}}</p>
      </li>
      <li class="player__data">
        <p class="player__country">Country: {{player.country}}</p>
      </li>
    </ul>
  </div>
</div>
