<div class="d-flex flex-column align-content-center player">
  <img [src]="player.avatar" alt="Avatar" class="player__avatar">
  <h2 class="player__name">{{player.firstname}} {{player.lastname}}</h2>
  <div class="player__description">
    <ul class="player__info">
      <li class="player__data">
        <p class="player__sex">Sex: {{player.sex}}</p>
      </li>
      <li class="player__data">
        <p class="player__birthday">Birthday: {{player.birthday | date}}</p>
      </li>
      <li class="player__data">
        <p class="player__team">Team: {{player.teamName}}</p>
      </li>
      <li class="player__data">
        <p class="player__country">Country: {{player.country}}</p>
      </li>
    </ul>
  </div>
</div>
