@import "reset";

body {
  font-family: "Heebo", "Lato", sans-serif;
}

.header__wrapper {
  background-color: #a28089;
}

.page__title {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 30px;
}
