/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Lato", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.content-container {
  margin: 0 auto;
  width: 1400px;
}
