<div class="container d-flex align-items-center justify-content-between header__container">
  <img alt="Logo" class="header__logo" src="../../../assets/logo.svg">
  <nav class="header__nav">
    <ul class="d-flex flex-row justify-content-center header__links">
      <li class="header__link">
        <a class="header__button" href="/">Создать игрока</a>
      </li>
      <li class="header__link">
        <a class="header__button" href="/players">Показать игроков</a>
      </li>
    </ul>
  </nav>
</div>
