.form {
  &__items {
    width: 50%;
  }

  &__item {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
  }

  &__label {
    display: block;
  }

  &__input {
    display: block;
    width: 100%;
  }

  &__button {
    display: block;
    width: 100%;
  }
}
